<h3>SUMMARY</h3>
<h5>
	I am analytical and accomplished Manager with a verifiable track record of managing all aspects of the Operation. I am well practiced in clarifying business requirements, performing gap analysis between goals and current performance, and designing processes and tools to improve performance and reduce costs. My Operations management and interpersonal skills enable consistent results that exceed company goals. I am a graduate of The Ohio State University with a B.S.B.A in Marketing and Logistics.
</h5>