<h3>Internships/ Other Experiences</h3>

<div>
<p>•	Amazon Operations Leadership Intern, June – August 2011: Managed up to 80 Associates in the daily Operations processes; created a standard process for optimal scheduling of Inbound freight
</p>
<p>•	The Ohio State University Lantern Sales Associate 2010 – 2012: Sold $20,000 of print advertising via telephone cold calls
</p>
<p>•	The Ohio State University Union, Student Associate 2010 – 2012: Shipping, Receiving and Security Department supplies, access and emergency management Associate
</p>

</div>
